[Unit]
Description=Simple Sound Bot 2
PartOf=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=true
WorkingDirectory=/home/ssb/Simple-Sound-Bot-2
ExecStart=/usr/local/bin/docker compose -f docker-compose.yml -f docker-compose.prod.yml up -d --remove-orphans
ExecStop=/usr/local/bin/docker compose down

[Install]
WantedBy=multi-user.target